/* Reset some default spacing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #2a0124, #b950a9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main container */
.app {
  background: rgb(194, 3, 208);
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

/* Title */
.app h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #420d3d;
}

/* Input section */
.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border-color: #cc96dc;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
}

/* Add button */
button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: #4caf50;
  color: rgb(6, 6, 6);
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #344534;
  transform: scale(1.05);
}

/* List */
ul {
  list-style: none;
}

li {
  background-color: #c365ca;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.2s;
}

li:hover {
  background-color: #e8f5e9;
}
